src/java/Ficheros/AlumnosXSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ALUMNOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ALUMNO" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>            
              <xs:element type="xs:int" name="CODI"/>
              <xs:element type="xs:string" name="NOM"/>
              <xs:element type="xs:string" name="ASIGN"/>
              <xs:element type="xs:string" name="TUT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>